#map
  width 100%
  height 400px
.map-container
  display flex
  align-items stretch
#controls
  width 200px
  min-width 200px

.bottom-panel
  margin-top 20px
  padding 10px
  display flex
  width 100%
  .pt-input-group
    width 100%
