html, body
  margin 0
  padding 0
  -webkit-font-smoothing antialiased
  background-color: #f5f8fa;

input
  -webkit-font-smoothing antialiased

#react-app-container
  overflow-x hidden
  margin 0 auto